.preview-container{
    margin-top: 11vh;
    display: flex;
    flex-flow: wrap;
    align-items: flex-start ;
    justify-content: space-around;
    min-height: 83vh;
}
.register-id{
    color: rgb(39, 39, 39);
 
    padding: 1%;
    
}
.button-container{
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-evenly;
}
.patient-info-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    box-shadow:  5px 5px 10px #cccccc,
             -5px -5px 10px #f4f4f4;
    padding: 4%;
    border-radius: 13px;
}
.vacc-center-info
{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    box-shadow:  5px 5px 10px #cccccc,
             -5px -5px 10px #f4f4f4;
    padding: 4%;
    border-radius: 13px;
    min-height: 472px;
}

.dark-text{
    color: #444;
    font-size: 2.5vh;
    font-weight: 700;
    

}

.normal-text{
    font-size: 2.5vh;
    font-weight: 100;
    margin-bottom: 4%;
}
.sendinfo-button{
    padding: 0.5%;
    min-width: 15vw;
    border: 2px solid rgb(37, 37, 37);
   
}